PASSPHRASE="bla bla ..... bla"
# Private key of the first standard derivation of address from the above passphrase
PRIVATE_KEY=45d56a....36f34
# The address derived from the above private key
SENDER=0xdAf0399....344f5
# For WalletConnect
REACT_APP_PROJECT_ID=3550fe30..345635
FORK_RPC=https://rpc.gnosischain.com
